:root {
  --brand: #23bf7c;

  --bg-primary-darker: #43434c;
  --bg-primary: #4a4a55;
  --bg-primary-lighter: #555560;

  --bg-secondary-darker: #2d2d35;
  --bg-secondary: #35353f;
  --bg-secondary-lighter: #3a3a44;

  --bg-tertiary-darker: #1c1c26;
  --bg-tertiary: #23232f;
  --bg-tertiary-lighter: #282835;

  --success: #33cc33;
  --error: #cc3333;

  --text-primary: #e8e8e8;
  --text-secondary: #d8d8d8;
  --text-tertiary: #b8b8b8;
}
